h5{
  color:hotpink;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  padding-top: -20px;
}
.gfd{
  background-color: gray;
  margin-top: 20px;
}
.vcf{
 height: 150px;
 width:220px;
 display:flex;
 position: relative;
 border-radius: 30px;

}
h3{
  color: rgb(238, 102, 11);
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
}
.vfg{
margin-top: 5px;
margin-left: 5px;
margin-right: 5px;
margin-bottom: 20px;
background-image: url(fire.jpg);
background-repeat: no-repeat;
background-size: cover;
border-radius: 20px;
}
.cds{
  padding-top: 30px;
  font-size: 200px;
  padding-left: 30px;
  border-radius: 20px;

}
.vfd{
 text-align: center;
 padding-top: 50px;
 font-size: 100px;
 padding-right: 20px;
 position: relative;

}
.vfre{
  background-color: white;
  margin-top: 50px;
  margin-left: px;
  margin-right: px;
  
}
